<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectBookingList">
	SELECT
       BOOK_NO,
       BOOK_USER_NAME,
       BOOK_PERSONNEL,
       B.BOOK_CHECK_DATE,
       BOOK_CHECKOUT_DATE,
       BOOK_APPROVE_YN,
       BOOK_CHECK_IN,
       REQUEST,
       R.ROOM_NO,
       R.ROOM_NAME,
       R.ROOM_FEE, /* 일자 계산해서 넣기 */
       A.ACCOMO_NAME
  FROM BOOK_LIST B
  JOIN ROOM_INFO R ON(B.ROOM_NO = R.ROOM_NO)
  JOIN ACCOMO_INFO A ON(R.ACCOMO_NO = A.ACCOMO_NO)
 WHERE A.OWNER_NO = ? 

	</entry>

	
</properties>
