<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="noticeSelect">
		SELECT NOTICE_TITLE
		     , NOTICE_CONTENT
		     , NOTICE_WRITE_DATE
		     , NOTICE_NO
		  FROM NOTICE
	</entry>
	
	<entry key="eventSelect">
		SELECT E.EVENT_TITLE
		     , E.EVENT_NO
             , E.EVENT_START
             , E.EVENT_END
             , A.THUMBNAIL_PATH
          FROM EVENT E
          JOIN ATTACHMENT A ON(A.REF_NO = E.EVENT_NO)
         WHERE CATEGORY_NO = 7
	</entry>
	

</properties>