<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="point">
		SELECT POINT
		  FROM POINT
		 WHERE USER_NO = ?
    </entry>
    
    <entry key="pointHistory">
		SELECT PH.POINT_PATH
     	     , PH.GU_DATE
             , PH.POINT
             , ph.GETUSE_TYPE_GU
  	      FROM POINT_HISTORY PH
  		  JOIN POINT P ON(P.POINT_NO = PH.POINT_NO)
         WHERE P.USER_NO = ?
    </entry>
    
    <entry key="couponCount">
		SELECT COUNT(*)
          FROM COUPON
         WHERE COUPON_USE_YN = 'N'
           AND USER_NO = ?
    </entry>
    
    <entry key="couponList">
		SELECT COUPON_NAME
		     , COUPON_DISCOUNT
		     , COUPON_CONDITION
		     , COUPON_START
		     , COUPON_END
		  FROM COUPON
		 WHERE COUPON_USE_YN = 'N'
		   AND USER_NO = ?
    </entry>

    <entry key="myinfoSelect">
		SELECT USER_NICKNAME
		     , USER_PHONE
		     , REPORT_COUNT
		  FROM USER_INFO
		 WHERE USER_NO = ?
    </entry>
    
    <entry key="nickNameUpdate">
		UPDATE USER_INFO
		   SET USER_NICKNAME = ?
		 WHERE USER_NO = ?
    </entry>
    
    <entry key="phoneUpdate">
		UPDATE USER_INFO
		   SET USER_PHONE = ?
		 WHERE USER_NO = ?
    </entry>
    
    <entry key="passwordUpdate">
		UPDATE USER_INFO
		   SET USER_PWD = ?
		 WHERE USER_NO = ?
    </entry>
    
    <entry key="withdrawUpdate">
		UPDATE USER_INFO
		   SET USER_WITHDRAW_YN = 'Y'
		     , WITHDRAWDATE = ?
		 WHERE USER_NO = ?
    </entry>
    
    <entry key="reportListSelect">
		SELECT R.REPORT_NO
		     , R.REPORT_TITLE
		     , A.ACCOMO_NAME
		     , R.REPORT_DATE
		     , R.REPORT_STATUS
		  FROM REPORT R
		  JOIN ACCOMO_INFO A ON(A.ACCOMO_NO = R.REPORTED_NO)
		 WHERE R.WRITER_TYPE = 'guest'
		   AND R.MEMBER_NO = ?
		   AND R.REPORTED_TYPE = 'owner'
    </entry>
</properties>
