<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectRoomCount">
        SELECT 
               COUNT(*)
          FROM RM_ACCOMO_INFO A
         WHERE A.OWNER_NO = ?
	</entry>
	
	<entry key="selectAccomoList">

             SELECT
                r.request_no
              , r.rm_accomo_name
              , r.rm_ceo_name
              , r.rm_accomo_type
              , r.approval_yn
              , r.owner_no
              , r.rm_accomo_no
              , r.rm_type
              , r.EN_ACCOMO_NO
              , a.attachment_no
              , a.category_no
              , a.thumbnail_path
              , a.attachment_status
              , a.ref_no

	      FROM RM_ACCOMO_INFO R
          JOIN ATTACHMENT A ON(R.REQUEST_NO = A.REF_NO)

	     WHERE R.OWNER_NO = ?
           AND ( CATEGORY_NO = 3
            OR CATEGORY_NO = 1) /* 수정된 이미지가 채택될 수도 있으므로 */
           AND (RM_TYPE = 'EN'
            OR (RM_TYPE = 'RM' AND APPROVAL_YN = 'Y'))

	</entry>
	
	<entry key="selectRmAccomoImagePath">
	
	    SELECT
                *
	      FROM RM_ACCOMO_INFO R
          JOIN ATTACHMENT A ON(R.REQUEST_NO = A.REF_NO)
	     WHERE R.OWNER_NO = ?
           AND ( CATEGORY_NO = 1)
	
	</entry>
	
	<entry key="selectModifyAccomo">
	
	SELECT
      	   *
 	  FROM ACCOMO_INFO C
 	  JOIN ATTACHMENT A ON(C.ACCOMO_NO = A.REF_NO)
 	 WHERE ACCOMO_NO = ?
  	   AND CATEGORY_NO = 3
  	 </entry>
  	   
	<entry key="selectModifyAccomoTwo">
	
	SELECT
      	   *
 	  FROM ACCOMO_INFO C
 	  JOIN ATTACHMENT A ON(C.ACCOMO_NO = A.REF_NO)
 	 WHERE ACCOMO_NO = ?
  	   AND CATEGORY_NO = 3
	
	
	</entry>
	
	<entry key="selectModifyAccomoThree">
	
	SELECT
      	   *
 	  FROM ACCOMO_INFO C
 	  JOIN ATTACHMENT A ON(C.ACCOMO_NO = A.REF_NO)
 	 WHERE ACCOMO_NO = ?
  	   AND CATEGORY_NO = 3
	
	
	</entry>
	
	

	
	<entry key="insertModifyAccomoAttachment">
	        INSERT
            INTO ATTACHMENT
            VALUES
            (
              SEQ_ATTACHMENT_NO.NEXTVAL
            , ?
            , ?
            , ?
            , ?
            , ?
            , ?
            , 'Y'
            , null
            , ?
            )
	
	
	</entry>
	
		<entry key="insertAccomoAttachment">
	        INSERT
            INTO ATTACHMENT
            VALUES
            (
              SEQ_ATTACHMENT_NO.NEXTVAL
            , ?
            , ?
            , ?
            , ?
            , ?
            , ?
            , 'Y'
            , null
            , ?
            )
	
	
	</entry>

<entry key="insertRmAccomo">
	INSERT
	INTO RM_ACCOMO_INFO
	VALUES
	(
	SEQ_REQUEST_NO.NEXTVAL
	, 1 /* 패런트키 낫파운드 */
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, DEFAULT
	, ?
	, 'RM'
	, null
	)
</entry>

<entry key="selectcurrval">
SELECT
SEQ_REQUEST_NO.CURRVAL
FROM DUAL;
</entry>

	
</properties>
