<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectRoomCount">
        SELECT 
               COUNT(*)
          FROM RM_ACCOMO_INFO A
         WHERE A.OWNER_NO = ?
	</entry>
	
	<entry key="selectAccomoList">

	    SELECT
                *
	      FROM RM_ACCOMO_INFO 
	     WHERE OWNER_NO = ?

	</entry>

	
</properties>
